# Ignorar base de datos y archivos de Celery
db.sqlite3
celerybeat-schedule
celerybeat-schedule.lock

# Ignorar scripts en OLT
OLT/scriptsonu/

# Ignorar archivos de caché y temporales
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar entornos virtuales
env/
venv/

# Ignorar configuraciones locales y secretos
*.env
.env

