Django>=3.2,<4.0
django-q
gunicorn
whitenoise
psycopg2-binary  # Si usas PostgreSQL
mysqlclient  # Si usas MySQL
djangorestframework  # Si usas Django REST Framework
celery
redis
pyasn1<0.5            # serie 0.4.x que expone compat.octets
pysnmp<5              # serie 4.x, compatible con hlapi clásico
